name: Deploy to Coolify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Coolify Deployment
        run: |
          curl -X GET "http://196.251.100.142:8000/api/v1/deploy?uuid=dw4040kw4ok440w48o4k4880&force=false" \
            -H "Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}"
